<div class="container mx-auto p-4 text-center">
  <h2 class="text-2xl font-bold mb-4">Bem-vindo ao File Sharer</h2>
  <p class="mb-4">
    Faça o seu login ou cadastro para começar a enviar os arquivos!
  </p>

  <div class="inline-block">
    <a
      href="/auth/login"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Login
    </a>
    <a
      href="/auth/register"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-4"
    >
      Cadastro
    </a>
  </div>
</div>
