<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Eventos</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script defer src="scripts.js"></script>
  </head>
  <body>
    <h2>Evento de Carregamento de Página</h2>

    <h2>Ações Antes e Depois de um Swap</h2>
    <button
      hx-get="http://localhost:3000/beforeAfterSwap"
      hx-target="#swap-result"
    >
      Executar Swap
    </button>
    <div id="swap-result"></div>

    <h2>Ações Antes e Depois de um Request</h2>
    <button
      hx-get="http://localhost:3000/beforeAfterRequest"
      hx-target="#request-result"
    >
      Executar Requisição
    </button>
    <div id="request-result"></div>

    <h2>Tratando Falha na Requisição</h2>
    <button
      hx-get="http://localhost:3000/endpointQueFalha"
      hx-target="#error-result"
    >
      Tentar Requisição
    </button>
    <div id="error-result"></div>

    <h2>Interceptando Request</h2>
    <button
      hx-get="http://localhost:3000/endpointParaInterceptar"
      hx-target="#intercept-result"
    >
      Executar Requisição Interceptada
    </button>
    <div id="intercept-result"></div>
  </body>
</html>
