<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carregamento com HTMX</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="scripts.js" defer></script>
  </head>
  <body>
    <!-- Aula 1 -->
    <h2>Atualizar Conteúdo por ID e Classe</h2>
    <button hx-get="http://localhost:3000/content" hx-target="#targetById">
      Atualizar por ID
    </button>
    <div id="targetById">Conteúdo será carregado aqui.</div>

    <!-- Aula 2 -->
    <button hx-get="http://localhost:3000/content" hx-target=".targetByClass">
      Atualizar por Classe
    </button>
    <div class="targetByClass">Primeiro conteúdo de classe.</div>
    <div class="targetByClass">Segundo conteúdo de classe.</div>

    <!-- Aula 3 -->
    <h2>Content Swapping com HTMX</h2>
    <button hx-get="http://localhost:3000/newContent">
      Carregar Novo Conteúdo
    </button>
    <button hx-get="http://localhost:3000/newContent" hx-target="#swapContent">
      Carregar Novo Conteúdo
    </button>
    <div id="swapContent">Conteúdo original. Será substituído.</div>

    <!-- Aula 4 -->
    <h2>Tipos Avançados de Swap</h2>
    <div id="swapArea">
      <button
        hx-get="http://localhost:3000/content"
        hx-swap="afterbegin"
        hx-target="#swapArea"
      >
        After Begin
      </button>
      <button
        hx-get="http://localhost:3000/content"
        hx-swap="beforebegin"
        hx-target="#swapArea"
      >
        Before Begin
      </button>
      <button
        hx-get="http://localhost:3000/content"
        hx-swap="beforeend"
        hx-target="#swapArea"
      >
        Before End
      </button>
      <button
        hx-get="http://localhost:3000/content"
        hx-swap="afterend"
        hx-target="#swapArea"
      >
        After End
      </button>
    </div>

    <!-- Aula 5 -->
    <h2>Out of Bound Swap no HTMX</h2>
    <button
      hx-get="http://localhost:3000/outOfBound"
      hx-target="#ignored-target"
    >
      Atualizar Notificação
    </button>
    <div id="notification" style="border: 1px solid black; padding: 10px">
      Notificação inicial
    </div>
    <div id="ignored-target"></div>

    <!-- Aula 6 -->
    <h2>Carregando um Subset da Resposta com hx-select</h2>
    <button
      hx-get="http://localhost:3000/subset"
      hx-target="#result"
      hx-select="#only-this-part"
    >
      Carregar Parte da Resposta
    </button>
    <div id="result">Aqui será carregado um subset da resposta.</div>

    <!-- Aula 7 -->
    <h2>Uso Avançado de hx-params</h2>
    <button
      hx-get="http://localhost:3000/advancedParams?lang=javascript&user=Matheus"
      hx-target="#advanced-params-result"
      hx-params="lang, user"
    >
      Enviar Parâmetros Adicionais
    </button>
    <div id="advanced-params-result">Resultado aqui.</div>

    <!-- Aula 8 -->
    <h2>Manipulando Respostas JSON com HTMX</h2>
    <button hx-get="http://localhost:3000/userData" hx-target="#user-data">
      Carregar Dados do Usuário
    </button>
    <div id="user-data"></div>

    <button
      id="load-user-data"
      hx-get="http://localhost:3000/userData"
      hx-target="#user-data-2"
    >
      Carregar Dados do Usuário 2
    </button>
    <div id="user-data-2"></div>

    <!-- Aula 9 -->
    <h2>Implementando Lazy Loading com HTMX</h2>
    <img
      src="https://via.placeholder.com/150"
      hx-get="http://localhost:3000/lazyImage"
      hx-trigger="revealed"
      hx-swap="outerHTML"
    />
    <br />
    <img
      src="https://via.placeholder.com/150"
      hx-get="http://localhost:3000/lazyImage"
      hx-trigger="revealed"
      hx-swap="outerHTML"
    />
    <br />
    <img
      src="https://via.placeholder.com/150"
      hx-get="http://localhost:3000/lazyImage"
      hx-trigger="revealed"
      hx-swap="outerHTML"
    />
  </body>
</html>
